<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Proj</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
      <error-code>404</error-code>
      <location>/index.jsp</location>
  </error-page>
  <error-page>
      <error-code>400</error-code>
      <location>/index.jsp</location>
  </error-page>
  <error-page>
      <error-code>500</error-code>
      <location>/index.jsp</location>
  </error-page>
  <error-page>
      <exception-type>java.lang.Throwable</exception-type>
      <location>/index.jsp</location>
  </error-page>
  <resource-ref>
    <res-ref-name>jdbc/ProjDB</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
  </resource-ref>
  <servlet>
    <description></description>
    <display-name>register</display-name>
    <servlet-name>register</servlet-name>
    <servlet-class>proj.basic.member.controller.MemberRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>register</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoEvaluateItem</display-name>
    <servlet-name>DoEvaluateItem</servlet-name>
    <servlet-class>proj.basic.evaluate.controller.EvaluateItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoEvaluateItem</servlet-name>
    <url-pattern>/doEvaluateItem</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowOrderDetail</display-name>
    <servlet-name>ShowOrderDetail</servlet-name>
    <servlet-class>proj.basic.orderDetail.controller.ShowOrderDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowOrderDetail</servlet-name>
    <url-pattern>/showOrderDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description> 2014/7/31 Huang 新增查詢訂單主檔 </description>
    <display-name>QueryOrderList</display-name>
    <servlet-name>QueryOrderList</servlet-name>
    <servlet-class>proj.basic.orderList.controller.OrderQueryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryOrderList</servlet-name>
    <url-pattern>/query.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description> 2014/7/31 Huang 新增退貨Servlet </description>
    <display-name>Refund</display-name>
    <servlet-name>Refund</servlet-name>
    <servlet-class>proj.basic.orderList.controller.RefundServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Refund</servlet-name>
    <url-pattern>/refund.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description> 2014/7/31 Huang 新增評價Servlet </description>
    <display-name>Evaluate</display-name>
    <servlet-name>Evaluate</servlet-name>
    <servlet-class>proj.basic.evaluate.controller.EvaluateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Evaluate</servlet-name>
    <url-pattern>/evaluate.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>searchItem</display-name>
    <servlet-name>searchItem</servlet-name>
    <servlet-class>proj.basic.item.controller.SearchItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchItem</servlet-name>
    <url-pattern>/searchItem</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addToCart</display-name>
    <servlet-name>addToCart</servlet-name>
    <servlet-class>proj.basic.item.controller.ItemAddToCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addToCart</servlet-name>
    <url-pattern>/addToCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>2014/07/29 Huang新增AJAX判斷購物車修改數量</description>
    <display-name>addToCartAJAX</display-name>
    <servlet-name>addToCartAJAX</servlet-name>
    <servlet-class>proj.basic.item.controller.UpdateCartQAJAX</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addToCartAJAX</servlet-name>
    <url-pattern>/addToCartAJAX</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>cfmOrder</display-name>
    <servlet-name>cfmOrder</servlet-name>
    <servlet-class>proj.basic.orderList.controller.CfmOrderListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cfmOrder</servlet-name>
    <url-pattern>/cfmOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>exportItem</display-name>
    <servlet-name>exportItem</servlet-name>
    <servlet-class>proj.basic.mall.ExportItemDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>exportItem</servlet-name>
    <url-pattern>/exportItem</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowItemMedia</display-name>
    <servlet-name>ShowItemMedia</servlet-name>
    <servlet-class>proj.basic.itemmedia.controller.ShowItemMediaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowItemMedia</servlet-name>
    <url-pattern>/ShowItemMedia</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowItemDetail</display-name>
    <servlet-name>ShowItemDetail</servlet-name>
    <servlet-class>proj.basic.item.controller.ShowItemDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowItemDetail</servlet-name>
    <url-pattern>/ShowItemDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowItems</display-name>
    <servlet-name>ShowItems</servlet-name>
    <servlet-class>proj.basic.item.controller.ShowItemsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowItems</servlet-name>
    <url-pattern>/ShowItems</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowHotItems</display-name>
    <servlet-name>ShowHotItems</servlet-name>
    <servlet-class>proj.basic.item.controller.ShowHotItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowHotItems</servlet-name>
    <url-pattern>/ShowHotItems</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowBookmark</display-name>
    <servlet-name>ShowBookmark</servlet-name>
    <servlet-class>proj.basic.bookmark.controller.ShowBookmarkList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowBookmark</servlet-name>
    <url-pattern>/ShowBookmark</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>addBookmark</description>
    <display-name>addBookmark</display-name>
    <servlet-name>addBookmark</servlet-name>
    <servlet-class>proj.basic.bookmark.controller.BookmarkServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addBookmark</servlet-name>
    <url-pattern>/addBookmark</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>verifyImg</display-name>
    <servlet-name>verifyImg</servlet-name>
    <servlet-class>proj.basic.member.controller.VerifyImgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>verifyImg</servlet-name>
    <url-pattern>/verifyImg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>login</display-name>
    <servlet-name>login</servlet-name>
    <servlet-class>proj.basic.member.controller.MemberLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowMemberImg</display-name>
    <servlet-name>ShowMemberImg</servlet-name>
    <servlet-class>proj.basic.member.controller.ShowMemberImgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowMemberImg</servlet-name>
    <url-pattern>/showMemberImg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>memberUpdate</display-name>
    <servlet-name>memberUpdate</servlet-name>
    <servlet-class>proj.basic.member.controller.MemberUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>memberUpdate</servlet-name>
    <url-pattern>/memberUpdate</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>CHKLogin</filter-name>
    <filter-class>proj.basic.member.controller.CHKLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CHKLogin</filter-name>
    <url-pattern>/02_member/*</url-pattern>
    <url-pattern>/cfmOrder</url-pattern>
    <url-pattern>/confirmOrder.jsp</url-pattern>
    <url-pattern>/memberOrderList.jsp</url-pattern>
    <url-pattern>/ShowBookmark</url-pattern>
    <url-pattern>/DoEvaluateItem</url-pattern>
    <url-pattern>/showOrderDetail</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>addViewHistoryFilter</filter-name>
    <filter-class>proj.basic.item.controller.AddViewHistoryFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>addViewHistoryFilter</filter-name>
    <url-pattern>/ShowItemDetail</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>askPwd</display-name>
    <servlet-name>askPwd</servlet-name>
    <servlet-class>proj.basic.member.controller.AskPwdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>askPwd</servlet-name>
    <url-pattern>/askPwd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>resetLinkVerify</display-name>
    <servlet-name>resetLinkVerify</servlet-name>
    <servlet-class>proj.basic.member.controller.VerifyResetLinkServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>resetLinkVerify</servlet-name>
    <url-pattern>/resetLink</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RQResetPwdServlet</display-name>
    <servlet-name>RQResetPwdServlet</servlet-name>
    <servlet-class>proj.basic.member.controller.VerifyResetLinkServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RQResetPwdServlet</servlet-name>
    <url-pattern>/RQResetPwdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>resetPWD</display-name>
    <servlet-name>resetPWD</servlet-name>
    <servlet-class>proj.basic.member.controller.ResetPwdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>resetPWD</servlet-name>
    <url-pattern>/resetPWD</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ItemMediaUpload</display-name>
    <servlet-name>ItemMediaUpload</servlet-name>
    <servlet-class>proj.basic.itemmedia.controller.ItemMediaUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ItemMediaUpload</servlet-name>
    <url-pattern>/ItemMediaUpload</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>proj.basic.member.controller.MemberLogInOutListener</listener-class>
  </listener>
</web-app>